<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5df417a647.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>
    <header>
        <logo>
            <div>
                <img src="img/IBike.png" alt="" srcset="">
            </div>
            <h3>
                IBike
            </h3>
        </logo>

        <div>
            <i class="hambuerger-icon fa-solid fa-bars"></i>
        </div>

        <nav>
            <ul>
                <li><a href="#bicicletas">Bicicletas</a></li>
                <li><a href="#equipamentos">Equipamentos</a></li>
                <li><a href="#suplementos">Suplementos</a></li>
            </ul>
        </nav>

        <form>
            <input type="text" placeholder="Buscar">
        </form>
        <div>
            <a href="#carrito"><i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="#login"><i class="fa-sharp fa-solid fa-user"></i></a>
        </div>
    </header>
    <main>
        <section>
            <img src="/img/banner.jpg" alt="" srcset="">
        </section>
    </main>

</body>

</html>