<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <!-- Header -->
        <%- include('partials/header') %>

            <!-- Main -->
            <main>

                <section class="main-banner">

                    <article class="main-article">

                        <div>
                            <h1>
                                Lorem ipsum dolor sit
                            </h1>
                            <br>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt voluptatem
                                voluptates
                                incidunt maxime? Iure rem error est doloreque !
                            </p>
                        </div>
                    </article>
                    <div>
                        <img src="/img/banner.jpg" alt="" srcset="">
                    </div>
                </section>


                <section class="main-section">
                    <h1>Productos Destacados</h1>
                    <div class="products">
                        <article class="product">
                            <img class="product-img" src="/img/products/bikes/Bike2.jpg" alt="">
                            <h3>Lorex ercitatio</h3>
                            <div class="price">
                                <h4>US $296</h4>
                                <button type="submit">Comprar</button>
                            </div>
                        </article>

                        <article class="product">
                            <img class="product-img" src="/img/products/bikes/Bike3.jpg" alt="">
                            <h3>Lorex ercitatio</h3>
                            <div class="price">
                                <h4>US $296</h4>
                                <button type="submit">Comprar</button>
                            </div>
                        </article>

                        <article class="product">
                            <img class="product-img" src="/img/products/bikes/Bike3.jpg" alt="">
                            <h3>Lorex ercitatio</h3>
                            <div class="price">
                                <h4>US $296</h4>
                                <button type="submit">Comprar</button>
                            </div>
                        </article>

                        <article class="product">
                            <img class="product-img" src="/img/products/bikes/Bike5.jpg" alt="">
                            <h3>Lorex ercitatio</h3>
                            <div class="price">
                                <h4>US $296</h4>
                                <button type="submit">Comprar</button>
                            </div>
                        </article>

                        <article class="product">
                            <img class="product-img" src="/img/products/bikes/Bike2.jpg" alt="">
                            <h3>Lorex ercitatio</h3>
                            <div class="price">
                                <h4>US $296</h4>
                                <button type="submit">Comprar</button>
                            </div>
                        </article>
                    </div>

                </section>
                <!-- <section class="product">

            <h1>
                Productos Destacados
            </h1>
            <article class="product-article">
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>


        </section> -->
                <!-- <section class="main-section">
            <h1>Productos Destacados</h1>
            <div class="carrusel">
                <div class="grande">
                    <img src="#" alt="img 1" class="img">
                    <img src="#" alt="img 2" class="img">
                </div>
                <ul class="puntos">
                    <li class="punto"></li>
                    <li class="punto"></li>
                </ul>
            </div>
        </section>
 -->
            </main>

            <!-- footer -->
            <%- include('partials/footer') %>

    </body>

</html>