<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5df417a647.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>
    <header>
        <logo class="logo">
            <div class="conten-logo">
                <div class="img-logo">
                    <img  src="img/IBike.png" alt="" srcset="">
                </div>
                <h2>
                    IBike
                </h2>
            </div>
        </logo>

        <a href="">
            <i class="hambuerger-icon fa-solid fa-bars"></i>
        </a>

        <nav>
            <ul>
                <li><a href="#bicicletas">Bicicletas</a></li>
                <li><a href="#equipamentos">Equipamentos</a></li>
                <li><a href="#suplementos">Suplementos</a></li>
            </ul>
        </nav>

        <form>
            <input type="text" placeholder="Buscar">
        </form>
        <div>
            <a href="#carrito"><i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="#login"><i class="fa-sharp fa-solid fa-user"></i></a>
        </div>
    </header>

    <main>
        <section class="main-banner">

            <article class="main-article">

                <div>
                    <h1>
                        Lorem ipsum dolor sit
                    </h1>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt voluptatem
                        voluptates
                        incidunt maxime? Iure rem error est doloreque !
                    </p>
                </div>
            </article>
            <div>
                <img src="/img/banner.jpg" alt="" srcset="">
            </div>
        </section>


        <section class="main-section">
            <h1>Productos Destacados</h1>
            <div class="products">
                <article class="product">
                    <img class="product-img" src="/img/products/bikes/Bike2.jpg" alt="">
                    <h3>Lorex ercitatio</h3>
                    <div class="price">
                        <h4>US $296</h4>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="product">
                    <img class="product-img" src="/img/products/bikes/Bike3.jpg" alt="">
                    <h3>Lorex ercitatio</h3>
                    <div class="price">
                        <h4>US $296</h4>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="product">
                    <img class="product-img" src="/img/products/bikes/Bike3.jpg" alt="">
                    <h3>Lorex ercitatio</h3>
                    <div class="price">
                        <h4>US $296</h4>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="product">
                    <img class="product-img" src="/img/products/bikes/Bike5.jpg" alt="">
                    <h3>Lorex ercitatio</h3>
                    <div class="price">
                        <h4>US $296</h4>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="product">
                    <img class="product-img" src="/img/products/bikes/Bike2.jpg" alt="">
                    <h3>Lorex ercitatio</h3>
                    <div class="price">
                        <h4>US $296</h4>
                        <button type="submit">Comprar</button>
                    </div>
                </article>
            </div>

        </section>

        <!--         <section class="product">

            <h1>
                Productos Destacados
            </h1>
            <article class="product-article">
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>

            <article>
                <div class="product-img">
                    <img src="/img/products/bikes/Bike1.jpg" alt="" srcset="">
                </div>
                <div class="product-description">
                    <h2 class="product-title">
                        Lorem ipsum adipisicing
                    </h2>
                    <h3>
                       US$293
                    </h3>
                    <button class="button-buy" type="submit">Comprar</button>
                </div>
            </article>


        </section> -->

        <!--         <section class="main-section">
            <h1>Productos Destacados</h1>
            <div class="carrusel">
                <div class="grande">
                    <img src="#" alt="img 1" class="img">
                    <img src="#" alt="img 2" class="img">
                </div>
                <ul class="puntos">
                    <li class="punto"></li>
                    <li class="punto"></li>
                </ul>
            </div>
        </section>
 -->
    </main>

    <footer>
        <section class="main-footer">

            <h3>Copyright © Todos los derechos reservados</h3>
        </section>
    </footer>

</body>

</html>