<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5df417a647.js" crossorigin="anonymous"></script>
    <title>list</title>
    <link rel="stylesheet" href="css/list.css">
</head>
<body>
    <header>
        <logo class="logo">
            <div class="conten-logo">
                <div class="img-logo">
                    <img  src="img/IBike.png" alt="" srcset="">
                </div>
                <h2>
                    IBike
                </h2>
            </div>
        </logo>

        <a href="">
            <i class="hambuerger-icon fa-solid fa-bars"></i>
        </a>

        <nav>
            <ul>
                <li><a href="#bicicletas">Bicicletas</a></li>
                <li><a href="#equipamentos">Equipamentos</a></li>
                <li><a href="#suplementos">Suplementos</a></li>
            </ul>
        </nav>

        <form>
            <input type="text" placeholder="Buscar">
        </form>
        <div>
            <a href="#carrito"><i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="#login"><i class="fa-sharp fa-solid fa-user"></i></a>
        </div>
    </header>
  <main>
<section class="bikes">
    <h3>Bicicletas</h3>
    <div class="products">
        <article>
            <img src="img/products/bikes/bike2.jpg" alt="bike2" class="">
            <div class="main-article">
               
                <p class="price">$6.770</p>
                
                <h4 class="description">Bike 2</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
              
                <p class="price">$230.000</p>
               
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike2.jpg" alt="bike2" class="">
            <div class="main-article">
              
                <p class="price">$70.500</p>
              
                <h4 class="description">bike 2</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
    </div>
</section>
  </main>  
</body>
</html>