<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5df417a647.js" crossorigin="anonymous"></script>
    <title>list</title>
    <link rel="stylesheet" href="css/list.css">
    
</head>
<body>
  
  <main>
<section class="bikes">
    <h3>Bicicletas</h3>
    <div class="products">
        <article>
            <img src="img/products/bikes/bike2.jpg" alt="bike2" class="">
            <div class="main-article">
               
                <p class="price">$6.770</p>
                
                <h4 class="description">Bike 2</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
              
                <p class="price">$230.000</p>
               
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike2.jpg" alt="bike2" class="">
            <div class="main-article">
              
                <p class="price">$70.500</p>
              
                <h4 class="description">bike 2</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
        <article>
            <img src="img/products/bikes/bike3.jpg" alt="bike3" class="">
            <div class="main-article">
                
                <p class="price">$23.200</p>
              
                <h4 class="description">Bike 3</h4>
            </div>
        </article>
    </div>
</section>
  </main>  
</body>
</html>