<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <!-- Header -->
        <%- include('partials/header') %>

            <!-- Main -->
            <main class="main-products-view">

                <section class="main-section-products">

                    <article class="filter-products">

                        <article>
                            <p>Tipo </p>
                            <ul>
                                <li>
                                    <a href=""> Montaña </a>
                                </li>
                                <li>
                                    <a href=""> Ruta </a>
                                </li>
                                <li>
                                    <a href=""> Gravel </a>
                                </li>
                                <li>
                                    <a href=""> Electricas </a>
                                </li>
                            </ul>
                        </article>

                        <article>
                            <p>Talla </p>
                            <ul>
                                <li>
                                    <a href=""> XS </a>
                                </li>
                                <li>
                                    <a href=""> S </a>
                                </li>
                                <li>
                                    <a href=""> M </a>
                                </li>
                                <li>
                                    <a href=""> L </a>
                                </li>
                                <li>
                                    <a href=""> XL </a>
                                </li>
                            </ul>
                        </article>

                        <article>
                            <p>Color </p>
                            <ul>
                                <li>
                                    <a href=""> Rojo </a>
                                </li>
                                <li>
                                    <a href=""> Negro </a>
                                </li>
                                <li>
                                    <a href=""> Gris </a>
                                </li>
                                <li>
                                    <a href=""> Blanco </a>
                                </li>
                                <li>
                                    <a href=""> Verde </a>
                                </li>
                            </ul>
                        </article>

                    </article>

                    <section class="main-section">
                        <h1>Productos Destacados</h1>
                        <div class="products">
                            <article class="product">
                                <img class="product-img" src="/img/products/bikes/Bike2.jpg" alt="">
                                <h3>Lorex ercitatio</h3>
                                <div class="price">
                                    <h4>US $296</h4>
                                    <button type="submit">Comprar</button>
                                </div>
                            </article>

                            <article class="product">
                                <img class="product-img" src="/img/products/bikes/Bike3.jpg" alt="">
                                <h3>Lorex ercitatio</h3>
                                <div class="price">
                                    <h4>US $296</h4>
                                    <button type="submit">Comprar</button>
                                </div>
                            </article>

                            <article class="product">
                                <img class="product-img" src="/img/products/bikes/Bike3.jpg" alt="">
                                <h3>Lorex ercitatio</h3>
                                <div class="price">
                                    <h4>US $296</h4>
                                    <button type="submit">Comprar</button>
                                </div>
                            </article>

                            <article class="product">
                                <img class="product-img" src="/img/products/bikes/Bike5.jpg" alt="">
                                <h3>Lorex ercitatio</h3>
                                <div class="price">
                                    <h4>US $296</h4>
                                    <button type="submit">Comprar</button>
                                </div>
                            </article>

                        </div>

                    </section>

                </section>


            </main>

            <!-- footer -->
            <%- include('partials/footer') %>

    </body>

</html>