<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/5df417a647.js" crossorigin="anonymous"></script>
  <title>Product</title>
  <link rel="stylesheet" href="css/product.css">
</head>

<body>

  <header>
    <logo class="logo">
      <div class="conten-logo">
        <div class="img-logo">
          <img src="img/IBike.png" alt="" srcset="">
        </div>
        <h2>
          IBike
        </h2>
      </div>
    </logo>

    <a href="">
      <i class="hambuerger-icon fa-solid fa-bars"></i>
    </a>

    <nav>
      <ul>
        <li><a href="/product">Bicicletas</a></li>
        <li><a href="/products">Equipamentos</a></li>
        <li><a href="/products">Suplementos</a></li>
      </ul>
    </nav>

    <form>
      <input type="text" placeholder="Buscar">
    </form>
    <div>
      <a href="#carrito"><i class="fa-solid fa-cart-shopping"></i>
      </a>
      <a href="#login"><i class="fa-sharp fa-solid fa-user"></i></a>
    </div>
  </header>

  <section class="main">

    <section class="comprar">

      <div class="navigate">
        <span>
          IBike / Bicicletas / Montaña / Fuse 27.5
        </span>
      </div>

      <div class="btn-comprar-top">
        <button class="btn-top">
          Comprar
        </button>
      </div>

    </section>

    <section class="product">

      <div class="img">
        <img src="img/products/bikes/Bike6.jpg" alt="">
        <img src="img/products/bikes/Bike7.jpg" alt="">
      </div>

      <div class="about">

        <h2>Fuse 27.5</h2>
        <samp>Ref. No 700065</samp>
        <samp>$ 1200.00</samp>
        <div class="size">
          <span>Size : L</span>
          <article class="btns">
            <div>
              <button class="btn-size">L</button>
            </div>
            <div>
              <button class="btn-size">M</button>
            </div>
          </article>
        </div>
        <div class="btn-basket">
          <button type="button" class="btn">Agregar al carrito</button>
        </div>
        <p>Tranquila bajo presión, pero hábil y precisa, la Fuse es un tipo de bicicleta rígida completamente diferente.
          Con un nuevo chasis más largo, más bajo y más ruidoso y ruedas y neumáticos de 27.5x2.3, el Fuse 27.5 maneja
          descensos abruptos y complicados y subidas empinadas y técnicas con absoluta confianza</p>
      </div>

    </section>

    <section class="info">

      <h6>Especificaciones técnicas</h6>
      <article>
        <span>Marco</span>
        <p>
          Marco

          Specialized A1 Premium Aluminum, eje pasante de 148 mm, tubo de dirección cónico, enrutamiento interno de
          cables

          Carpeta de asiento

          Aleación, 38,6 mm</p>
      </article>
      <hr>
      <article>
        <span>Suspensión</span>
        <p>
          Tenedor X-Fusion MIG 27.5, ajuste externo de rebote y compresión, muelle helicoidal, compensación de 46 mm,
          130 mm de
          recorrido</p>
      </article>
      <hr>
      <article>
        <span>Frenos</span>
        <p>
          Freno frontal
          Nivel SRAM, disco hidráulico, 180/160mm
        </p>
        <p>
          Freno trasero
          SRAM Level, pinza de 2 pistones, disco hidráulico, 180 mm
        </p>
      </article>
      <hr>
    </section>

  </section>

  <footer>
    <p>
      © 2023 IBike Todos los derechos reservados.
    </p>
  </footer>

</body>

</html>