<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5df417a647.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="js/profile.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>
    <header>
        <logo class="logo">
            <div class="conten-logo">
                <div class="img-logo">
                    <img src="img/IBike.png" alt="" srcset="">
                </div>
                <h2>
                    IBike
                </h2>
            </div>
        </logo>

        <a href="">
            <i class="hambuerger-icon fa-solid fa-bars"></i>
        </a>

        <nav>
            <ul>
                <li><a href="/product">Bicicletas</a></li>
                <li><a href="/products">Equipamentos</a></li>
                <li><a href="/products">Suplementos</a></li>
            </ul>
        </nav>

        <form>
            <input type="text" placeholder="Buscar">
        </form>
        <div>
            <a href="#carrito"><i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="#login"><i class="fa-sharp fa-solid fa-user"></i></a>
        </div>
    </header>

    <main>

        <section class="profile">

            <div class="div-img">
                <img src="/img/userProfile.png" alt="Imagen de usuario">
            </div>

            <div>
                <h4>Bienvenido, Geovany Rico </h4>
            </div>
            
            <div>
                <p>
                    Aqui puedes revisar tu infomarción de perfil y acualizarla,
                    así como ver el historial de tus pedidos,
                    metodos de pago agregados y gestionar tu contraseña de acceso
                </p>
            </div>            

            <div class="options">

                <article class="sectionOpt">

                    <div class="sectionOpt-main">
                        <span>
                            Datos personales
                        </span>
                        <i class="fa-sharp fa-solid fa-arrow-down"></i>
                    </div>
                    <div class="sectionOpt-form">

                    </div>
                    
                </article>

                <article class="sectionOpt">

                    <div class="sectionOpt-main">
                        <span>
                            Datos de facturación
                        </span>
                        <i class="fa-sharp fa-solid fa-arrow-down"></i>
                    </div>
                    <div class="sectionOpt-form">

                    </div>
                    
                </article>

                <article class="sectionOpt">

                    <div class="sectionOpt-main">
                        <span>
                            Historial de pedidos
                        </span>
                        <i class="fa-sharp fa-solid fa-arrow-down"></i>
                    </div>
                    <div class="sectionOpt-form">

                    </div>
                    
                </article>                

            </div>

        </section>

        <section class="mail">

            <h4>Necesitas ayuda!</h4>

            <form>

                <div class="textArea">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">
                    </textarea>
                  </div>

                  <div class="btn">
                    <button>
                        Envia tus comentarios
                    </button>
                  </div>
                

            </form>

        </section>

    </main>

    <footer>
        <section class="main-footer">
            <h3>Copyright © Todos los derechos reservados</h3>
        </section>
    </footer>

</body>

</html>