<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/src/public/css/styles_sing_up.css">
</head>
<body>
    <div class="container">
        <form action="" class="form">
          <header class="header">
            <a class="titulo-1" href="#">Registrarte</a>
            <a class="titulo-2" href="#">Ingresar</a>
          </header>
          <div class="imput-registro">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Correo electronico"
              required
            />
          </div>
          <div class="imput-registro">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="btn">
            <button type="submit" class="iniciar-sesion" value="iniciar sesion">
              Iniciar Sesión
            </button>
          </div>
          <div class="olv-contraseña">
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="linea"></div>
          <div class="registrate">
            <label>¿No tienes cuenta?</label>
            <a href="#"><b>Regístrate</b></a>
          </div>
        </form>
      </div>
    
</body>
</html>