<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>


<body>

   <!-- Header -->
   <%- include('partials/header') %>
  
   <!-- Main -->
  <div class="main-sinIn">

    <form action="" class="form">
      <article class="formbtns">
        <button>
          <a class="titulo-1" href="/singIn">Ingresar</a>
        </button>
        <button>
          <a class="titulo-2" href="/singUp">Registrarte</a>
        </button>        
      </article>
      <div class="imput-registro">
        <input type="text" name="name" id="name" placeholder="Nombre" required />
      </div>
      <div class="imput-registro">
        <input type="text" name="last-name" id="last-name" placeholder="Apellido" required />
      </div>
      <div class="imput-registro">
        <input type="email" name="email" id="email" placeholder="Correo electronico" required />
      </div>
      <div class="imput-registro">
        <input type="password" name="password" id="password" placeholder="Contraseña" required />
      </div>
      <div class="checkbox-buttons">
        <input class="checkbox" type="checkbox" name="oferta" id="recibir-ofertas" />
        <label class="checkbox" for="recibir-ofertas">Quiere recibir ofertas</label>
      </div>
      <div class="btn">
        <button type="submit" class="registrar" value="registrar">
          Regístrar
        </button>
      </div>
      <div class="privacidad">
        <p>
          <b>Al registarme acepto las condiciones de uso y la politica de privacidad</b>
        </p>
      </div>
      <div class="linea"></div>
      <div class="ingresar">
        <label>¿Ya tienes cuenta?</label>
        <a href="#"><b>Ingresar</b></a>
      </div>
    </form>
  </div>

  <!-- footer -->
  <%- include('partials/footer') %>

</body>

</html>