*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
  }

  h3{
    font-size: 24px;
  }
  
  p{
    font-size: 12px;
  }

  div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
  
  header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
/*nuevo*/
  header div.logo{
  width: 50%;
}

header div.logo{
    padding: 10px;
}

/*nuevo*/

  /*bikes*/

  div.bikes{
  display: flex;
  flex-wrap: wrap;
}

/* price */

.price{
    font-size: 18px;
    width: 30%;
  }

  /*main */

  
main{
    width: 90%;
    margin: 0 auto;
  }

  main section article{
    background-color: #fff;    
    margin: 10px 0px;
  }
  
  main section article img{
    width: 100%;
  }
/* nuevo */
  main section article:hover .description {
    display: block;
  }

  main section h3{
    margin: 20px 0px;
  }

  /* nuevo*/
  main section h3{
    margin: 20px 0px;
  }

  article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
  }

  main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }


  /*tablet*/
  @media (min-width: 361px){

    main section article {
        display: block;
    }
  main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.products article{
    width: 45%;
}

.price{
      width: 50%;
  }

/*Desk*/
@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

.footer{
    display: flex;
}

.article-footer{
    width: 25vw;
}
  }
