.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar #icons {
    align-items: baseline;
}

.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.main .product {
    display: flex;
}

.main .product .img{
    width: 70%;
}

.main .product .img{
    display: flex;
    flex-direction: column;
}

.main .product .about{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/*
    Tablets en horizonal y escritorios normales
*/
@media (min-width: 768px) and (max-width: 1199px) {}

/*
    Móviles en horizontal o tablets en vertical
*/

@media (max-width: 767px) {
}

/*
    Móviles en vertical
*/

@media (max-width: 480px) {

    .main .product {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}