* {
    font-family: roboto;
    size: 18px;
}

img {
    width: 300px;
    height: 300px;
}

.main{
    width: 100%;
    display: flex;
    background-color: #DCDCDC;
}

.filters {
    width: 20%;
}

.prodcuts {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.prodcut {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    
}

.product .opt{
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar #icons {
    align-items: baseline;
}