
.main-sinIn .titulo-1{
    text-transform: uppercase;
    margin: 10px;
    text-align:center;
    font-size: 17px;
    text-decoration:none;
    color: black;
    font-weight: 700;
}

.main-sinIn .titulo-2{
    text-transform: uppercase;
    margin: 10px;
    text-align:center;
    font-size: 17px;
    text-decoration:none;
    color: gray;
    font-weight: 600;
}

.main-sinIn .imput-registro > input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0px;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    font-size: 1.4rem;
    border-bottom:1px solid #060607
    
}

.main-sinIn .checkbox-buttons{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.main-sinIn .checkbox{
    text-transform: uppercase;
    margin: 8px;
    text-align:center;
    font-size: 10px;
    text-decoration:none;
    color: black;
}

.main-sinIn .btn{
    display: flex;
    justify-content: center;
}

.main-sinIn .btn > button{
    background-color: #474747;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    text-decoration:none;
    text-align:center;
    font-size: 1.4rem;
    text-transform: uppercase;
    outline: none;
    cursor:pointer;

}

.main-sinIn .btn > button:hover{
    background: #5f5e5e;
}

.main-sinIn .privacidad >p{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;   

}

.main-sinIn .linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 60%;
    padding: 0;
    margin: 10px auto 0 auto;
  }

.main-sinIn .ingresar{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.main-sinIn .ingresar > a{
    text-decoration:none;
    color: black;
    
}

