<header>
    <logo class="logo">
        <div class="conten-logo">
            <div class="img-logo">
                <a href="/home"><img src="img/IBike.png" alt="" srcset=""></a>
            </div>
            <h2>
                IBike
            </h2>
        </div>
    </logo>

    <a href="">
        <i class="hambuerger-icon fa-solid fa-bars"></i>
    </a>

    <nav>
        <ul>
            <li><a href="/product">Bicicletas</a></li>
            <li><a href="/products">Equipamentos</a></li>
            <li><a href="/products">Suplementos</a></li>
        </ul>
    </nav>

    <form>
        <input type="text" placeholder="Buscar">
    </form>
    <div>
        <a href="#carrito"><i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a href="/singIn"><i class="fa-sharp fa-solid fa-user"></i></a>
    </div>
</header>