<!-- <footer>
    <section class="main-footer">
        <h3>Copyright © Todos los derechos reservados</h3>
    </section>
</footer> -->

<footer class="relative bg-black bg-opacity-80 mt-10 pt-14  pb-6">
    <div class="container mx-auto px-10">
        <div class="flex flex-wrap text-gray-200 text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl fonat-semibold text-blueGray-700">Contactanos!</h4>
                <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                    Encuéntranos en cualquiera de estas plataformas:
                </h5>
                <div class="mt-6 lg:mb-0 mb-6">
                    <button
                        class="bg-white text-blue-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-twitter"></i></button><button
                        class="bg-white text-blue-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-facebook-square"></i></button><button
                        class="bg-white text-fuchsia-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-instagram"></i></button><button
                        class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <a href="https://github.com/ogrico/grupo_10_ibike" target="_blank"><i
                                class="fab fa-github"></i></a>
                    </button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-4">Developers</span>
                        <ul class="list-unstyled">
                            <li class="flex">
                                <i class="fab fa-github mr-2" ></i>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://github.com/genemavare" target="_blank">Genesis Mavera</a>
                            </li>
                            <li class="flex">
                                <i class="fab fa-github mr-2" ></i>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://github.com/ogrico" target="_blank">Geovany Rico</a>
                            </li>
                            <li class="flex">
                                <i class="fab fa-github mr-2" ></i>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://github.com/verjhamn" target="_blank">Andrés
                                    Verjhamn</a>
                            </li>

                        </ul>
                    </div>
                    <!--                     <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Other
                            Resources</span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">MIT
                                    License</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://creative-tim.com/terms?ref=njs-profile">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://creative-tim.com/privacy?ref=njs-profile">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="https://creative-tim.com/contact-us?ref=njs-profile">Contact Us</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <hr class="my-12 border-gray-300">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-gray-300 font-semibold py-1">
                    Copyright © <span id="get-current-year">2023</span><a class="text-blueGray-500"> Todos los derechos
                        reservados
                        <a href="https://github.com/ogrico/grupo_10_ibike" target="_blank"
                            class="text-blueGray-500 hover:text-white">IBike</a>.
                </div>
            </div>
        </div>
    </div>
</footer>