.mainBasketb {
    display: flex;
    flex-direction: column;
}

.new-sectionb {
    display: flex;
    background: white;
    flex-direction: row-reverse;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 50px;
}

.tittleb {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
}

.addedb {
    padding: 5px;
}

.oneb {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 10px;
    color: grey;
    text-align: left;
    text-decoration-line: line-through;
}

.twob {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 10px;
    color: grey;
    text-align: left;
}

.new-buttonb {
    background-color: #574f4f;
    border: 1px solid #574f4f;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;

}

.n-buttonb {
    background-color: #574f4f;
    border: 1px solid #574f4f;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    width: 93%;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 480px) {

    main .new-sectionb {
        flex-direction: column;
    }

    .new-buttonb {
        display: none;
    }

    .n-buttonb {
        display: none;
    }

    .interesb {
        display: none;
    }

    .images-downb .images-down-productsb article {
        display: none;
    }
}

@media (min-width: 481px) {
    section .leftb {
        margin-top: 50px;
    }

    .button-2b {
        display: none;
    }
}

.promob {
    font-size: 14px;
    margin-top: 30px;
    margin-left: 15px;
}

.images-downb {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.images-downb .images-down-productsb {
    display: flex;
}

.images-downb .images-down-productsb article {
    margin: auto;
    margin-top: 40px;
}

.cdb {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;

}

.varb {
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgb(233 235 235);
    border-color: rgb(233 235 235);
    border-radius: 5px;
    width: 178px;
    height: 25px;
}

.buttonb {
    background-color: #574f4f;
    border: 1px solid #574f4f;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    height: 25px;
    min-width: 60px;



}

.addedb {
    font-size: 14px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 15px;
    border-bottom: solid 2px black;
    margin-inline-start: 15px;
    margin-inline-end: 15px;


}

.border-2b {

    border-bottom: solid 2px black;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center
}

.border-2b .border-2-boxb {
    width: 32%;
    margin: auto;
}

.border-2b img {
    width: 100px;
    height: 100px;
}

.image-artb img {
    width: 160px;
    height: 150px;
    border-radius: 10px;
}

.letfb {
    width: 70%;
}

.products-bastekb li {

    font-size: 14px;
    font-weight: lighter;
    text-align: right;
}

.products-bastekb h4 {
    font-size: 12px;
    font-weight: lighter;
}

.products-bastekb p {
    margin-top: -15px;
    text-align: right;
    margin-right: 15px;
}

.button-2b {

background-color: #574f4f;

border: 1px solid #574f4f;

color: white;

border-radius: 4px;

font-size: 23px;

height: 25px;

min-width: 150px;

height: 46px;

margin: 10px;
}