* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #060607;
}

ul {
  list-style-type: none;
}


body {
  background-color: #efefef;
  color: #414141;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  width: 100vw;
}


header {
  /* width: 90%; */
  box-sizing: border-box;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(47, 47, 47, 90%);
  border-radius: 10px;
  margin: 10px 2vw 0px 2vw;
  position: fixed;
  z-index: 100;
  /* box-sizing: border-box; */
}

span {

  font-weight: 800;
}

.logo {
  box-sizing: border-box;
  height: 30px;
  display: flex;
}

.conten-logo {
  box-sizing: border-box;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCDCDC;
  border-radius: 50% 10%;
  padding: 0px 4px 0px 0px;
  margin-right: 6px;
}

.conten-logo h2 {
  margin: 1px;
  font-size: 1.1em;
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

header nav ul li {
  margin-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  font-weight: 600;

}

header form {
  display: flex;
  align-items: center;

}

header form input {
  padding: 5px;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 20px;
  font-size: 10px;
  width: 20vw;
}

header div {
  display: flex;
  align-items: center;
}

header div a {
  margin-left: 20px;
  font-size: 14px;
  color: #ffff;
  text-decoration: none;
}

header div img {
  width: 30px;
  height: 30px;
}

.hambuerger-icon {
  color: #DCDCDC;
}

/* header END */

/* main */

/* banner */

.main-banner {
  height: auto;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;

}

.main-banner img {
  box-sizing: border-box;
  width: 100vw;
  height: 350px;
  object-position: top;
  object-fit: cover;
}

.main-article {
  background-color: rgba(47, 47, 47, 20%);
  color: #DCDCDC;
  box-sizing: border-box;
  position: absolute;
  border: solid 1px #DCDCDC;
  border-radius: 10px;
  width: 60vw;
  max-width: 500px;
  height: auto;
  padding: 10px;
  margin: 35px 35px 35px 15vw;
  font-size: 0.8rem;
  backdrop-filter: blur(1px);
}

/* banner END */

/* main-section products view*/

.main-products-view {
  padding-top: 100px;
}

.main-section-products {
  display: flex;
}

.filter-products {
  display: flex;
  min-width: 122px;
  width: 20%;
  margin-left: 2vw;
  padding-left: 2vw;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-products button {

  padding: 8px;
  color: #DCDCDC;
  background-color: #414141;
  border-radius: 5px;
  border: none;
}

.filter-products button a {
  color: #DCDCDC;
}



.filter-products article {
  padding: 10px;
}

.filter-products article p {
  padding-bottom: 5px;
  font-weight: bold;
}

.main-section {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.main-section .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 15px 0 15px 0;
}

.main-section .product {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.main-section .product-img {
  box-sizing: border-box;
  object-fit: contain;
  width: 100%;
  height: 70%;
}

.main-section .product h3 {
  text-align: center;
}

.main-section .product .price {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.main-section .product .price h4 {
  padding: 8px;
}

.main-section .product .price button {
  padding: 8px;
  color: #DCDCDC;
  background-color: #414141;
  border-radius: 5px;
  border: none;
}


/* main-section END */



/* logIn */
.main-signin {
  background-color: #f5f5f5;
  padding: 30px 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  /* max-width: 200px; */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #444;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid;
  font-size: 16px;
  color: #444;
  background-color: #f5f5f5;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px #00a8ff;
}

.forgot-password,
.signup {
  margin-top: 20px;
  text-align: center;
}

.forgot-password a,
.signup a {
  color: #444;
  font-weight: bold;
}

.signup p {
  display: inline-block;
  margin-right: 5
}

/* logIn End*/


/* main product */

.mainProdcut {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 10px;
}

.mainProdcut .comprar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  position: sticky;
  border-bottom: 1px solid #414141;
}

.mainProdcut .comprar .navigate {
  display: flex;
  align-items: center;
}

.mainProdcut .comprar .btn-top {
  background-color: #2F2F2F;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.mainProdcut .comprar .btn-top a {
  color: #ffffff;
}

.mainProdcut .product {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mainProdcut .product .img {
  width: 100%;
  margin: auto;
  flex-direction: column;
  padding: 5px;
}

.mainProdcut .product .img img {
  width: 100%;
  border-radius: 8px
}

.mainProdcut .product .about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 5px;
  justify-content: center;
}

.mainProdcut .product .about .size {
  display: flex;
  flex-direction: column;
}

.mainProdcut .product .about .size .btns {
  display: flex;
}

.mainProdcut .product .about .size .btns div {
  padding: 5px;
}

.mainProdcut .product .about .size .btns .btn-size {
  background-color: #414141;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
}

.mainProdcut .product .about .btn-basket button {
  background-color: #2F2F2F;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
}

.mainProdcut .product .about p {
  /* text-align: justify; */
  margin-top: 15px;
}

.mainProdcut .info {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.mainProdcut .info h6 {
  font-size: 20px;
  padding-bottom: 5px;
}

.mainProdcut .info article {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mainProdcut .info article span {
  font-size: 16px;
}

.mainProdcut .info article p {
  /* width: 95%; */
  margin: auto;
  margin-top: 5px;
}

/* main product END */


/* main singUp */
.main-sinUp {
  padding: 9% 10%;
  width: 60%;
  margin: auto;
}

.main-sinUp .imput-registro>input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  font-size: 1rem;
  border-bottom: 1px solid #060607
}

.main-sinUp .checkbox-buttons {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.main-sinUp .checkbox {
  text-transform: uppercase;
  margin: 8px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.main-sinUp .btn {
  display: flex;
  justify-content: center;
  margin: 41px;
}

.main-sinUp .btn>button {
  background-color: #474747;
  color: white;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.main-sinUp .btn>button:hover {
  background: #5f5e5e;
}

.main-sinUp .privacidad>p {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
}

.main-sinUp .linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 60%;
  padding: 0;
  margin: 10px auto 0 auto;
}

.main-sinUp .ingresar {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-sinUp .ingresar>a {
  text-decoration: none;
  color: black;

}

/* main singUn END */

/* main singIn */

.main-singIn {
  padding-top: 80px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 120px;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content .btn-top {
  background-color: #2F2F2F;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* main singIn END */







/*edit form*/

/* Mobile */
.formulario {
  padding-top: 80px;
  margin: 0 10vw 20px 10vw;
}

.formulario li {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #a0a0a0;
  /* margin-bottom: 20px; */
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M3.125 8.125h23.75l-11.875 13.75zm0 0"></path></svg>') no-repeat center right;
  background-size: 12px;
}

input[type="submit"] {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Basket */



/* Tablet */
@media screen and (min-width: 768px) {
  .formulario {
    padding-top: 120px;
  }

  label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  input[type="text"],
  select,
  textarea {
    /* font-size: 18px; */
    /* padding: 12px; */
    /* margin-bottom: 30px; */
  }

  input[type="submit"] {
    padding: 12px 24px;
    font-size: 18px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .formulario {
    padding-top: 150px;
    max-width: 800px;
    margin: 0 auto;
  }

  label {
    font-size: 17px;
    margin-bottom: 5px;
  }

  input[type="text"],
  select,
  textarea {
    /* font-size: 24px; */
    /* padding: 15px; */
    /* margin-bottom: 40px; */
  }

  input[type="submit"] {
    padding: 7px 19px;
    font-size: 17px;
  }
}




/* Media Queries */

/* header */
@media only screen and (min-width: 600px) {



  header nav ul {
    display: flex;
  }

  .hambuerger-icon {
    display: none;
  }

  .main-banner {
    align-items: center;
  }

  .main-banner img {
    height: 500px;
  }

  .mainProdcut .product {
    flex-direction: row;
  }

  .mainProdcut .product .about {
    width: 38%;
    padding: 28px;
  }

  .mainProdcut .product .img {
    width: 50%;
    margin: auto;
    padding: 5px;
  }

  /* edit Form */



  /* edit Form END*/

}

@media screen and (min-width: 768px) {

  header {
    justify-content: center;
    gap: 15px;
  }

  .main-banner img {
    height: 700px;
  }

  .main-section {
    margin: 0 5vw 0 5vw;
  }
}

/* edit Form */



/* edit Form END*/

@media screen and (min-width: 1025px) {}


/* header END */