body {
    background-color: #DCDCDC;
    color: #414141;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}

img {
    width: 300px;
    height: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar #icons {
    align-items: baseline;
}

.main{
    width: 100%;
    display: flex;
}

.filters {
    width: 20%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

<<<<<<< HEAD
.produt {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    
=======
.product {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    width: 40%;
    margin: auto;
>>>>>>> 1ee385255c78a8ed5df7449e18d90d3e74f16a07
}

.product .opt{
    display: flex;
    justify-content: space-between;
}